<!DOCTYPE html>
<html lang="en">
<head ng-app="project">
 	<link rel="stylesheet" type="text/css" href="/../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="container">
		
       <p> {{ data.title }}</p>
       <p> {{ data.content }}</p>
       <p> {{ data.user.lastname}}</p>
        
	</div>
	
</body>
</html>